body {
    background-color: #b45757;
    font-family: 'exo';
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

#dadosform {
    background-color: #FFFFFF;
    width: 50%;
    height: 15rem;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .5rem #000000;
}

#inputinicio {
    margin-top: 2.5rem;
}

#rodape {
    text-align: center;
    margin-top: 1rem;
    color: #FFFFFF;
    font-style: italic;
}

#res {
    margin-top: 1rem;
}

#btn__contar {
    width: 5rem;
    height: 1.5rem;
    font-family: 'exo';
    background-color: #b45757;
    color: #FFFFFF;
    cursor: pointer;
}